<nav class="bg-gray-900 text-white px-6 py-4 flex justify-between items-center shadow-md fixed top-0 left-0 w-full z-50">

  <div class="flex items-center gap-2">
    <img src="assets/Logo.png" class="w-10 h-10 rounded-full" />
    <span class="font-semibold text-lg text-yellow-400">Athi Estate</span>
  </div>

  <div class="flex items-center gap-6">
    <a href="residentsdashboard.html" class="hover:text-yellow-400">Dashboard</a>
    <a href="payments.html" class="hover:text-yellow-400">Payments</a>
    <a href="myvisitors.html" class="hover:text-yellow-400">My Visitors</a>
    
  </div>

  <button id="logoutBtn" class="bg-red-600 px-4 py-2 rounded">Logout</button>

</nav>

<div class="h-16"></div>
